<section class="main-title-section-wrapper ">
    <div class="main-title-section-container d-flex justify-content-center align-items-center ">
        <div class="container text-center">
            <div class="main-title-section pb-2">
                <h1>اتصل بنا </h1>
            </div>
            <div class="breadcrumb text-center m-auto d-flex justify-content-center align-items-center ">
                <a routerLink="/home">الرئيسية </a>
                <span class="breadcrumb-default-delimiter px-2"> / </span>
                <span class="current"> تواصل معنا</span>
            </div>
        </div>
    </div>
    <div class="main-title-section-bg py-4"></div>
</section>




