<section class="portfolio">
    <div class="container ">
        <div class="row p-5">
          
            <!-- <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/c.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>غرف نوم</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div> -->
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/4f4ba219ce27d8da95e2905e8aeb5376.jpg" alt=""
                        class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>مجالس </p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>


            <!-- <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/pexels-fotoaibe-1669799.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>مجالس</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/e.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2> المــــودة</h2>
                        <p>غرف نوم</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div> -->
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/f.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>غرف نوم</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>


            <!-- <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/k.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>طاولة</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/8731310d3818c0ca87e877d4d3a523af.jpg" alt=""
                        class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>مجالس</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div> -->
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/l.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>دفاية</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>


            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/db5948e2e2895a97da8b5475f3ec41d2.jpg" alt=""
                        class="w-100 img-backcard-img card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>ادوات مطعم</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/o.jpg" alt=""
                        class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2> المــــودة</h2>
                        <p>طاولة</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/p (2).jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>مكيف</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>

            <!-- <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/a (2).jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>غرف نوم</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div> -->
            <!-- <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/44b5af843e26ee05f83756581c6759cc.jpg" alt=""
                        class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2> المــــودة</h2>
                        <p>ادوات مطعم</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>            -->
            <!-- <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/b.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>طاولة</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div> -->


                      
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/q.jpg" alt=""
                        class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>تلاجه</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <!-- <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/a (2).jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>غرف نوم</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/t.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>مكيف</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div> -->
         
            <!-- <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/m.jpg" alt=""
                        class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>غرف نوم</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/n.jpg" alt=""
                        class="w-100 img-backcard-img card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>طاوله</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div> -->
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/g.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>دواليب</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>


            <!-- <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/h.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>طاولة</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/j.jpg" alt="" class="w-100 img-back">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>تلاجه</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/www.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>دفاية</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div> -->

            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/z.jpg" alt=""
                        class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>فرن</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <!-- <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/ww.jpg" alt="" class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>فرن</p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>
            <div class="col-md-4">
                <div class="containar p-4">
                    <img src="../../../assets/y.jpg" alt=""
                        class="w-100 img-back card-img">
                    <div class="caption-item">
                        <img src="../../assets/1.png" alt="" class="">
                        <h2>المــــودة</h2>
                        <p>ادوات مطعم  </p>
                        <h5>شركة لشراء أثاثك المستعمل</h5>
                    </div>
                </div>


            </div>   -->
            
            

        </div>

    </div>
</section>